<link rel="stylesheet" href=".\assets\css\sidebar_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<input type="checkbox" checked id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header>Menu</header>
      <a href="#" class="active">
        <i class="fas fa-qrcode"></i>
        <span>Main Portfolio</span>
      </a>
      <a href="#">
        <i class="fas fa-blog"></i>
        <span>Blog Posts</span>
      </a>
      <a href="#">
        <i class="fas fa-project-diagram"></i>
        <span>Projects</span>
      </a>
    </div>